html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: 'F1reg';
    src: url(fonts/Formula1-Regular.ttf);
}

@font-face {
    font-family: 'F1bold';
    src: url(fonts/Formula1-Bold.ttf);
}

@font-face {
    font-family: 'F1black';
    src: url(fonts/Formula1-Black.ttf);
}

@font-face {
    font-family: 'F1wide';
    src: url(fonts/Formula1-Wide.ttf);
}

.f1 {
    --bcol: #ee0000;
}

.f2 {
    --bcol: #0090d0;
}

.f3 {
    --bcol: #e90300;
}

.fe {
    --bcol: #14b7ed;
}

body {
    background: #000;
    color: #ddd;
    font-family: 'F1reg', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

nav {
    background-color: #111;
    width: 100%;
    height: 6.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-wrap: anywhere;
}

.selectors {
    padding: 4.5rem 4.5rem 0rem 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
}

.logoimg {
    display: block;
    margin: 0px;
    align-self: center;
    width: 200px;
}

.logo {
    padding: 3em;
    margin: 1em 2em;
    border: 0.2em solid #ddd;
    border-radius: 1.5rem;
    cursor: pointer;
}

.logo:hover {
    background-color: #111;
}

h1 {
    color: #fff;
    font-family: 'F1wide', sans-serif;
    font-size: 2.25rem;
    font-style: italic;
    padding: 2rem;
}

h2 {
    font-family: 'F1wide', sans-serif;
    font-size: 2.25rem;
    padding: 2rem;
    text-align: center;
    color: #eee;
}

.tables {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tabdiv {
    padding-top: 4.5rem;
}

table {
    border-collapse: collapse;
    border-bottom: 3px solid var(--bcol);
    font-family: 'F1reg', sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
    width: 45rem;
}

.caption {
    padding: 1rem;
    color: #ddd;
    border: 3px solid var(--bcol);
    border-radius: 1.5rem;
    font-family: 'F1bold', sans-serif;
    font-weight: bold;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

td, tr, th {
    padding: 1rem;
    text-align: left;
}

th {
    font-family: 'F1bold', sans-serif;
    font-size: 1.375rem;
    border-bottom: 3px solid var(--bcol);
    padding-bottom: 1rem;
}

tbody tr:nth-child(even) {
    background: #111;
}

.redir {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    padding: 7.5rem;
}

.redir a {
    color: var(--bcol);
}

footer {
    text-align: center;
    padding: 3em;
}
